/* search container and inputs */
.title-area {width: 20%; justify-content: flex-end;}
.search-container {width: 90%;}
.search-form {width: 75%; gap: 10px;}
.search-container .btns {width: 12%;}
.group-menu {width: 2%;}
/* search container and inputs */
/* table style */

/* table style */